{{ if not .HX }}
<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Escull la teva categoria de torrons Vicens 2025">
    <link rel="icon" href="/public/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <title>Categories - Torrorèndum 2025</title>
  </head>
  <body hx-indicator="#loading-indicator">
      <!-- Global loading indicator -->
      <div id="loading-indicator"></div>

      {{ template "header" . }}
      {{ template "topbar" . }}
      <div id="main-content">
          {{ template "classes" . }}
      </div>
  </body>
</html>
{{ else }}
      {{ template "classes" . }}
{{ end }}

{{ define "classes" }}
<div id="classes">
{{ range .Classes }}
    {{ template "class" . }}
{{ end }}
</div>
{{ end }}


{{ define "class" }}
<div class="class-card">
    <div class="class-description">
        {{ .Description }}
    </div>
    <button class="btn btn-with-icon" hx-get="/classes/{{ .Id }}/vote" hx-trigger="click" hx-target="#classes" hx-swap="outerHTML" hx-push-url="classes/{{ .Id }}/vote">
        <span class="btn-icon">{{ if eq .Id "1" }}🏛️{{ else if eq .Id "2" }}✨{{ else if eq .Id "3" }}🍫{{ else if eq .Id "4" }}👨‍🍳{{ else if eq .Id "5" }}🌍{{ end }}</span>
        <span class="btn-text">{{ .Name }}</span>
    </button>
</div>
{{ end }}
